*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(196, 236, 196, 0.749);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    margin-left:530px;
    width:550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */
}
.box{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    background-color: white;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 3.5rem;
    font-weight: 800;
    color: black;
}
#reset-btn{
    cursor: pointer;
    height: 50px;
    width: 100px;
    margin-left:760px;
    font-size:25px;
    border-radius: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.852);
}
.msg-container{
    /* background-color: rebeccapurple; */
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#new-btn{
    cursor: pointer;
    height: 50px;
    width: 100px;
    padding: 2px;
    font-size:18px;
    border-radius: 12px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.852);
}
p{
font-style: oblique;
font-weight: 700;
    font-size:3rem;
}

.hide{
    display:none;
}


























@media (max-width: 600px) {
    .main{
        margin-left:0px;
        margin-top: 25px;
        width:400px;
        height:400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box{
        height:100px;
        width: 100px;
        margin:10px;
        /* padding-top: 15px; */
        border-radius: 15px;
        border: none;
        box-shadow: 0 0 1rem rgb(0,0,0,0.3);
        font-size: 3.5rem;
        font-weight: 800;
    }
    #reset-btn{
        cursor: pointer;
        height:40px;
        width:80px;
        margin-left:165px;
        font-size: 25px;
        border-radius: 12px;
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0.852);
    }
    p{
        font-size:32px;
    }
    
  }